body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
}

.header{
  background:#1e293b;
  padding:15px;
  color:white;
  font-size:20px;
}

.logo{
  color:#60a5fa;
  font-weight:bold;
}

.page{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:#1e293b;
  padding:40px;
  border-radius:10px;
  width:320px;
  color:white;
}

h2{
  text-align:center;
  margin-bottom:20px;
}

.input-group{
  margin-bottom:15px;
}

label{
  display:block;
  font-size:14px;
}

input,select{
  width:93%;
  padding:10px;
  margin-top:5px;
  border:none;
  border-radius:5px;
}

button{
  width:100%;
  padding:12px;
  background:#6366f1;
  border:none;
  border-radius:6px;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#4f46e5;
}

.switch{
  text-align:center;
  margin-top:15px;
}

.switch span{
  color:#60a5fa;
  cursor:pointer;
}

.message{
  text-align:center;
  margin-top:15px;
  color:#f87171;
}